body {
	margin: 0;
	word-break: keep-all;
	background-color: #fff;
	font-family: Arial, "맑은 고딕", "Malgun Gothic", sans-serif;
}
nav, nav > ul > li {
	display: inline-block;
}
pre {
	display: block;
	overflow: auto;
	word-wrap: break-word;
	margin-left: 2.1px;
	padding: 9px 1px;
	border-left: 4.2px solid #787878;
	background-color: #e8e8e8;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	height: 36px;
	padding: 6px;
	background-color: #4d4ddd;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}
.sidebar {
	position: fixed;
	top: 48px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 180px;
	padding: 48px 0 66px 30px;
	overflow-y: auto;
	background-color: #e8e8e8;
}
.main-wrapper {
	position: absolute;
	top: 0;
	left: 210px;
	right: 0;
	bottom: 0;
	margin: 0;
}
.main-content, footer {
	position: relative;
	margin: 48px auto;
	max-width: 1200px;
	min-width: 570px;
}
pre > code {
	position: relative;
	top: -6px;
	left: -105px;
	font-family: consolas, "맑은 고딕", "Malgun Gothic", monospace;
	color: #444;
}
nav > ul > li > a {
	margin: 0 24px;
	line-height: 2.6em;
	color: #f9f9f9;
}
.menu-top {
	margin-top: 24px;
	line-height: 2.4em;
}
.menu-dropdown {
	margin-left: 15px;
}
.ex {
	margin-top: 48px;
	padding: 15px 36px 45px 36px;
	border: 3px solid #e8e8e8;
	border-radius: 21px;
}
article {
	padding: 84px 54px 150px 54px;
}
section {
	padding-top: 102px;
}
footer {
	padding: 0 54px;
}
ul, ol {
	margin: 0;
}
ul {
	padding: 0;
	list-style: none;
}
ol {
	padding: 0 0 18px 66px;
}
p, li, pre > code {
	font-size: 15px;
	line-height: 1.88em;
}
footer > p {
	font-size: 12px;
	line-height: 1.66em;
	color: #777;
}
h1 {
	font-weight: lighter;
	font-size: 50px;
}
h2 {
	font-weight: bold;
	font-size: 30px;
}
h3 {
	margin-top: 45px;
	font-weight: normal;
	font-size: 20px;
}
h1, h2, h3 {
	line-height: 1.12em;
}
h1, h3 {
	color: #787878;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #4d4ddd;
}
a:hover {
	border-bottom: 1.5px solid;
}
.menu-top > a {
	font-weight: normal;	
}
pre > code, .sidebar > ul > li > a {
	color: #444;
}